/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.new_topics_page{
  margin: auto 300px;
}

.interests_page_view{
  margin: auto 300px;
}

.edit_screen{
  margin: auto 300px;
}
.topics_heading{
  text-align: center;
}

.row{
  margin-left: 15px;
  margin-right: 15px;
}

.row-centered{
  text-align: center;
}

.col-centered{
  display:inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.topic_container{
  margin: 15px;
  border: 1px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eee;
}

.topic_title_display{
  text-align: center;
  border: 1px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  max-height: 35px;
  overflow: hidden;
}

.topic_desc{
min-height: 175px;
max-height: 175px;
overflow: scroll;
}
